.footer {
  background-color: var(--dark-bg);
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray-300);
}

.footer a {
  color: var(--yellow-500);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
