.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 2rem;
  color: var(--white);
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.productList {
  list-style: none;
  padding: 0;
}

.productItem {
  background-color: var(--dark-fileds);
  border: 1px solid var(--gray-100);
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.productDescription {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.productPrice {
  font-weight: bold;
}
