.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 2rem;
  color: var(--white);
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.filter {
  width: 100%;
  height: 40px;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--dark-fileds);
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.productList {
  list-style: none;
  padding: 0;
}

.productItem {
  background-color: var(--dark-fileds);
  border: 1px solid var(--gray-100);
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--yellon-900); /* Amarelo para o título */
}

.productDescription {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.productPrice {
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.editButton,
.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  transition: transform 0.3s;
}

.editButton:hover {
  color: var(--yellon-900);
  transform: scale(1.2);
}

.deleteButton:hover {
  color: red;
  transform: scale(1.2);
}
